*{
font-family:Arial, Helvetica, sans-serif
}


.mobile .nav-link{
  color: gray;
}

.mobile .nav-link:focus{
  color: gray;
}

.mobile .offcanvas .nav-link:hover{
  font-size: large;
}
.filtraggio{
  color: gray;
}
.filtraggio_active{
  color: white;
}
.filtraggio:hover{
  font-size: large;
  color: gray;
}
.filtraggio_active:hover {
  font-size: large;
  color: white;
}
.filtraggio:focus{
  color: gray !important;
}
.filtraggio_active:focus{
  color: white !important;
}

.mobile .active{
  color: white;
}

.desktop .nav-link{
  color: gray;
}

.desktop .nav-link:focus{
  color: gray;
}

.desktop .nav-link:hover{
  font-size: large;
}

.desktop .active{
  color: white;
}
.alignme {
	margin:10px 0;
}

img{
  object-fit: contain;
}

.imgpost{
  max-height:500px;
}

.img20{
  height: 20px;
  width: 20px;
}

.img30{
  width: 30px;
  height: 30px;
}

.img50{
  width: 50px;
  height: 50px;
}

.img80{
  width: 80px;
  height: 80px;
}

.img90{
  width: 92px;
  height: 92px;
}



a{
  text-decoration: none;
}
.alert_successo{
  display: none;
}
.form_style{
  width: 22rem;
}
.fs_small{
  font-size:small;
}
.fs_medium{
  font-size:medium;
}
.input-group>button:hover{
  background-color:rgba(248, 249, 250,0.6);
}

.profili:hover{
  font-size: large;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="file"]:hover{
  background-color: rgba(248, 249, 250,0.6);
  color: black;
}
